           * {
             margin: 0px;
             padding: 0px;
             display: flexbox;
             box-sizing: border-box;
           }

           @media (min-width:200px) and (max-width:900px) {
             .main-box {
               display: contents;
             }

             h1 {
               font-size: 18px;
               display: block;
             }

             img {
               justify-content: center;
               width: 90%;
               margin-bottom: 4px;

             }

             .box-ingr ul {
               font-size: 18px;
               display: block;
               margin-bottom: 5px;
             }

             .mp h2 {
               text-align: center;
               margin-bottom: auto;
             }

             .box-preparo p {
               font-size: 20px;
               display: inline-flex;
               width: 100%;
               margin: 0px 5px;
             }
             .end {
              font-size: 20px;
              display: contents;
              width: 100%;
              margin: 0px 5px;
            }
           }

           body {
             background-color: beige;
             margin: 10px 50px;

           }

           .main-box {
             display: flex;
             justify-content: center;
             flex-wrap: wrap;
             margin-top: 100px;
           }

           header {
             font-family: "Fugaz One", sans-serif;
             font-size: 24px;
             color: rgb(204, 255, 204);
             width: 100%;
             height: auto;
             display: flex;
             justify-content: center;
             background-color: darkseagreen;
             border: 2px solid white;
             border-radius: 5px;
             padding: 8px;
           }

           img {
             width: 90%;
             margin: 12px;
             float: left;
           }

           h2 {
             color: darkseagreen;
             font-size: 20px;
             margin-bottom: 5px;

           }

           .box-ingr ul {

             font-size: 20px;
             letter-spacing: 1.3;
             line-height: 1.5;
             column-count: 2;
             display: inline;
           }

           .linktable {
             display: inline-block;
             background-color: darkseagreen;
             width: 100%;
             height: auto;
             text-align: center;
             font-size: 28px;
             border: 4px solid white;

           }

           a:hover {
             color: lightgreen;
           }

           a {
             color: black;
           }

           .mp h2 {
             margin: 0px 50px;
             font-size: 28px;
            
           }

           .box-preparo p {
             display: inline-block;
             font-size: 24px;
             text-align: justify;
             line-height: 1.5;
             margin: 0px 50px;
             padding: 20px 0px;

           }


           .end {
             display: inline-block;
             font-size: 24px;
             text-align: justify;
             line-height: 1.5;
             margin: 0px 50px;
             padding: 20px 0px;
           }