           *{
            margin:0px;
            padding: 0px;
            box-sizing: border-box;
           }
           body{
            background-color: beige;
            margin: 8px;
            
           } 
           .main-box{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 42px
           }
            header{
              font-family: "Fugaz One", sans-serif;
              font-size: 24px;
              color:rgb(204, 255, 204);
              width: 100%;
              height: auto;
              display: flexbox;
              justify-content: center;
              background-color: darkseagreen;
              border: 2px solid white;
              border-radius: 5px;
              padding: 8px;
            }
            .div img{
              width: 100%;
              height:auto;
            }
            h2 {
             justify-content:center;
              color: darkseagreen;
              display: flex;
              width: 100%;
              height: auto;
              font-size: 42px;
              padding-right: 50px;
              margin: 18px 10px;
            }
            .box-ingr ul{
              width: 100%;
              height: auto;
              font-size: 28px;
              letter-spacing: 1.3;
              line-height: 1.5;
              column-count: 2;
              padding: 5px 10px;
              margin-bottom: 10px;
            }
            .linktable   {
              display: inline-block;
              background-color:darkseagreen;
              width: 100%;
              height: auto;
              text-align: center;
              font-size: 25px;
              border: 4px solid white;
              
            }
            a:hover{
              color: lightgreen;
          
            }

            .box-preparo ol {
              width: 100%;
              height: auto;
              font-size: 20px;
              letter-spacing: 1.5;
              line-height: 2;
              padding: 5px 10px;
              margin: 20px 10px;
              text-align: justify;

            }
            .end {
              width: 100%;
              height: auto;
              font-size: 20px;
              text-align: center;
              letter-spacing: 1.5;
              line-height: 1.5;
              padding: 5px 10px;
              margin: 20px 10px;
             
            }
  
      